erlang_version=18.3
elixir_version=1.4.0
always_rebuild=false
config_vars_to_export=(DATABASE_URL ECTO_POOL_SIZE REDIS_URL REDIS_POOL_SIZE REDIS_TIMEOUT USER_POST_QUERY_TIMEOUT JWT_PRIVATE_KEY PORT ELLO_DOMAIN ENVIRONMENT_NAME NEW_RELIC_LICENSE_KEY HONEYBADGER_API_KEY SOCIAL_ICONS_URL ASSET_HOST BASE_DOMAIN ES_URL ES_PREFIX FOLLOWING_SEARCH_BOOST_LIMIT FOLLOWING_SEARCH_BOOST USERNAME_MATCH_BOOST TEXT_CONTENT_BOOST_FACTOR MENTION_BOOST_FACTOR ES_TRENDING_DETECTED_LANGUAGE_WEIGHT POST_TRENDING_RECENCY_WEIGHT POST_TRENDING_RECENCY_SCALE POST_TRENDING_RECENCY_OFFSET POST_TRENDING_COMMENT_BOOST POST_TRENDING_LOVE_BOOST POST_TRENDING_VIEW_BOOST POST_TRENDING_REPOST_BOOST FOLLOWING_TRENDING_RECENCY_WEIGHT FOLLOWING_TRENDING_RECENCY_SCALE FOLLOWING_TRENDING_RECENCY_OFFSET CATEGORY_TRENDING_RECENCY_WEIGHT CATEGORY_TRENDING_RECENCY_SCALE CATEGORY_TRENDING_RECENCY_OFFSET EDITORIAL_STREAM_KIND_SIZE PG_STATEMENT_TIMEOUT)
runtime_path=/app
