<%= for artist_invite <- @artist_invites do %>
  <a href="<%= webapp_url("invites/#{artist_invite.slug}") %>">
    <img src="<%= artist_invite_image_url(artist_invite) %>" alt="<%= artist_invite.title %>" />
    <h2><%= artist_invite.title %></h2>
  </a>
  <%= raw(artist_invite.rendered_short_description) %>
<% end %>

<%= if Enum.count(@artist_invites) > 0 do %>
  <%= link "Next Page", to: next_artist_invite_page_url(assigns.conn.params) %>
<% end %>
