<script>
  window.webappEnv = {
    AUTH_CLIENT_ID:    "<%= client_id() %>",
    AUTH_DOMAIN:       "<%= webapp_domain() %>",
    LOGO_MARK:         "<%= logo_mark() %>",
    APP_DEBUG:         <%= app_debug() %>,
    PROMO_HOST:        "<%= promo_host() %>",
    SEGMENT_WRITE_KEY: "<%= segment_write_key() %>",
  }
</script>
