<% # Shared meta tags %>
<%= render Ello.Serve.Webapp.MetaView, "_shared.html", assigns %>

<% # Custom meta tags %>
<%= if length(@posts) > 0 do %>
  <link rel="next" href="<%= next_post_page_url(@user, @posts) %>" />
<% end %>
