<a href="<%= post_url(@editorial.post) %>">
  <h2><%= title(@editorial) %></h2>
  <h3><%= subtitle(@editorial) %></h3>
  <img src="<%= editorial_image_url(@editorial) %>" alt="<%= title(@editorial) %>" />
</a>
