<nav>
  <ul>
    <li><%= link "Fetured", to: webapp_url("/discover") %></li>
    <li><%= link "Trending", to: webapp_url("/discover/trending") %></li>
    <li><%= link "Recent", to: webapp_url("/discover/recent") %></li>
    <%= for cat <- @categories do %>
      <li><%= link cat.name <> " Featured", to: webapp_url("/discover/" <> cat.slug) %></li>
      <li><%= link cat.name <> " Trending", to: webapp_url("/discover/" <> cat.slug <> "/trending") %></li>
    <% end %>
  </ul>
</nav>
